APP_URL=http://localhost:3000
FUNCTIONS_BASE_URL=https://us-central1-perfil-primero.cloudfunctions.net
MERCADOPAGO_ACCESS_TOKEN=
GEMINI_API_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_WORKER_PRICE_ID=
